__pycache__
.DS_Store
*.cache
*.ini
*.bak
wildcards/**
styles/**
workflow/**
autocomplete/**
web_beta/**
web_version/dev/**
docs/**
.vscode/
.vs/
.idea/
.claude/**
mmb-preset.custom.txt
config.yaml
node.tar.gz
.codex

.cursorrules
tools/ComfyUI-Easy-Use.json
